<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        body {
            text-align: justify;
            line-height: 108%;
            widows: 0;
            orphans: 0;
            font-family: 'NanumBarunGothic', sans-serif;
            font-size: 10pt;
            background: #FFFFFF;
        }
    </style>
</head>
<body>
<div>
    <table cellspacing="0" cellpadding="0"
           style="width:100%; max-width:500pt; margin-bottom:0pt; border-collapse:collapse;">
        <tr style="height:41pt">
            <td colspan="10"
                style="width:466pt; border-style:solid solid double; border-width:1.38pt 1.38pt 1.5pt; padding:1.4pt 4.41pt; vertical-align:middle">
                <p class="a" style="text-align:center; line-height:80%; font-size:15pt">
                    <a name="_top"/>
                    <span style="font-family:'NanumBarunGothic'">외국인유학생 시간제취업 확인서</span>
                </p>
            </td>
        </tr>
        <tr style="height:33.95pt">
            <td rowspan="3"
                style="width:30pt; border-style:double double double solid; border-width:1.5pt 1.5pt 1.5pt 1.38pt; padding:1.4pt 4.35pt 1.4pt 4.41pt; vertical-align:middle">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span style="font-family:'NanumBarunGothic'; font-weight:bold">대상자</span>
                </p>
            </td>
            <!--            성명 작성-->
            <td colspan="2"
                style="width:57pt; border-style:double solid solid double; border-width:1.5pt 0.75pt 0.75pt 1.5pt; padding:1.4pt 4.72pt 1.4pt 4.35pt; vertical-align:middle; -aw-border-bottom:0.38pt single; -aw-border-right:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span style="font-family:'NanumBarunGothic'">성</span>
                    <span style="font-family:'NanumBarunGothic'; -aw-import:spaces">   </span>
                    <span style="font-family:'NanumBarunGothic'">명</span>
                </p>
            </td>
            <td colspan="2"
                style="width:138.8pt; border-style:double solid solid; border-width:1.5pt 0.75pt 0.75pt; padding:1pt 4.72pt; vertical-align:middle; -aw-border-bottom:0.38pt single; -aw-border-left:0.38pt single; -aw-border-right:0.38pt single">
                <p class="a" style="text-align:center; font-size:12pt">
                    <!--                    <span style="font-family:'NanumBarunGothic'; font-style:italic; -aw-import:ignore"> </span>-->
                    <span th:text="${name}"></span>
                </p>
            </td>
            <!--            외국인등록번호 작성-->
            <td colspan="3"
                style="width:51.1pt; border-style:double solid solid; border-width:1.5pt 0.75pt 0.75pt; padding:1.4pt 4.72pt; vertical-align:middle; -aw-border-bottom:0.38pt single; -aw-border-left:0.38pt single; -aw-border-right:0.38pt single">
                <p class="a" style="text-align:center; font-size:12pt; margin:0; line-height:1.2;">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.85pt;">외 국 인</span><br/>
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.85pt;">등록번호</span>
                </p>
            </td>
            <td colspan="2"
                style="width:124.7pt; border-style:double solid solid; border-width:1.5pt 1.38pt 0.75pt 0.75pt; padding:1.4pt 4.41pt 1.4pt 4.72pt; vertical-align:middle; -aw-border-bottom:0.38pt single; -aw-border-left:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <!--                    <span style="font-family:'NanumBarunGothic'; font-style:italic; -aw-import:ignore"> </span>-->
                    <span th:text="${regNum}"></span>
                </p>
            </td>
        </tr>
        <tr style="height:33.05pt">
            <!--            학과 작성-->
            <td colspan="2"
                style="width:57pt; border-style:solid solid solid double; border-width:0.75pt 0.75pt 0.75pt 1.5pt; padding:1.4pt 4.72pt 1.4pt 4.35pt; vertical-align:middle; -aw-border-bottom:0.38pt single; -aw-border-right:0.38pt single; -aw-border-top:0.38pt single">
                <p class="a" style="text-align:center; font-size:12pt; margin:0; line-height:1;">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.85pt">학과</span><br/>
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.85pt">(전공)</span>
                </p>
            </td>
            <td colspan="2"
                style="width:138.8pt; border-style:solid; border-width:0.75pt; padding:1.4pt 4.72pt; vertical-align:middle; -aw-border:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <!--                    <span style="font-family:'NanumBarunGothic'; font-style:italic; -aw-import:ignore"> </span>-->
                    <span th:text="${major}"></span>
                </p>
            </td>
            <!--            이수학기 작성-->
            <td colspan="3"
                style="width:51.1pt; border-style:solid; border-width:0.75pt; padding:1.4pt 4.72pt; vertical-align:middle; -aw-border:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.8pt">이수학기</span>
                </p>
            </td>
            <td colspan="2"
                style="width:124.7pt; border-style:solid; border-width:0.75pt 1.38pt 0.75pt 0.75pt; padding:1.4pt 4.41pt 1.4pt 4.72pt; vertical-align:middle; -aw-border-bottom:0.38pt single; -aw-border-left:0.38pt single; -aw-border-top:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span th:text="${semester}"></span>
                </p>
            </td>
        </tr>
        <tr style="height:27.35pt">
            <!--            전화번호 작성-->
            <td colspan="2"
                style="width:57pt; border-style:solid solid double double; border-width:0.75pt 0.75pt 1.5pt 1.5pt; padding:1.4pt 4.72pt 1.4pt 4.35pt; vertical-align:middle; -aw-border-right:0.38pt single; -aw-border-top:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span style="font-family:'NanumBarunGothic'">전화번호</span>
                </p>
            </td>
            <td colspan="2"
                style="width:138.8pt; border-style:solid solid double; border-width:0.75pt 0.75pt 1.5pt; padding:1.4pt 4.72pt; vertical-align:middle; -aw-border-left:0.38pt single; -aw-border-right:0.38pt single; -aw-border-top:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span th:text="${phoneNum}"></span>
                </p>
            </td>
            <!--            이메일 작성-->
            <td colspan="3"
                style="width:51.1pt; border-style:solid solid double; border-width:0.75pt 0.75pt 1.5pt; padding:1.4pt 4.72pt; vertical-align:middle; -aw-border-left:0.38pt single; -aw-border-right:0.38pt single; -aw-border-top:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span style="font-family:'NanumBarunGothic'">e-mail</span>
                </p>
            </td>
            <td colspan="2"
                style="width:124.7pt; border-style:solid solid double; border-width:0.75pt 1.38pt 1.5pt 0.75pt; padding:1.4pt 4.41pt 1.4pt 4.72pt; vertical-align:middle; -aw-border-left:0.38pt single; -aw-border-top:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span th:text="${email}"></span>
                </p>
            </td>
        </tr>
        <tr style="height:27.5pt">
            <td rowspan="6"
                style="width:30pt; border-style:double double double solid; border-width:1.5pt 1.5pt 1.5pt 1.38pt; padding:1.4pt 4.35pt 1.4pt 4.41pt; vertical-align:middle">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span style="font-family:'NanumBarunGothic'; font-weight:bold; letter-spacing:-0.7pt">취업</span>
                </p>
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span style="font-family:'NanumBarunGothic'; font-weight:bold; letter-spacing:-0.7pt">예정</span>
                </p>
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span style="font-family:'NanumBarunGothic'; font-weight:bold; letter-spacing:-0.3pt">근무처</span>
                </p>
            </td>
            <!--            업체명 작성-->
            <td colspan="2"
                style="width:57pt; border-style:double solid solid double; border-width:1.5pt 0.75pt 0.75pt 1.5pt; padding:1.4pt 4.72pt 1.4pt 4.35pt; vertical-align:middle; -aw-border-bottom:0.38pt single; -aw-border-right:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:0.65pt">업 체 명</span>
                </p>
            </td>
            <td colspan="7"
                style="width:335pt; border-style:double solid solid; border-width:1.5pt 1.38pt 0.75pt 0.75pt; padding:1.4pt 4.41pt 1.4pt 4.72pt; vertical-align:middle; -aw-border-bottom:0.38pt single; -aw-border-left:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span th:text="${companyName}"></span>
                </p>
            </td>
        </tr>
        <tr>
            <!--            사업자등록번호 작성-->
            <td colspan="2"
                style="width:57pt; height:50pt; border-style:solid solid solid double; border-width:0.75pt 0.75pt 0.75pt 1.5pt; padding:0.3pt 4.35pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1.2; font-size:11pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:0.65pt;">사 업 자</span>
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:0.65pt;">등록번호</span>
                </p>
            </td>
            <td colspan="3"
                style="width:158.6pt; height:50pt; border-style:solid; border-width:0.75pt; padding:0.3pt 4.72pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span th:text="${bizRegNum}"></span>
                </p>
            </td>
            <!--            업종 작성-->
            <td colspan="3"
                style="width:48.25pt; height:50pt; border-style:solid; border-width:0.75pt; padding:0.3pt 4.72pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic';">업종</span>
                </p>
            </td>
            <td
                    style="width:107.75pt; height:50pt; border-style:solid; border-width:0.75pt 1.38pt 0.75pt 0.75pt; padding:0.3pt 4.72pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span th:text="${industry}"></span>
                </p>
            </td>
        </tr>

        <tr style="height:27.5pt">
            <!--            주소 작성-->
            <td colspan="2"
                style="width:57pt; border-style:solid solid solid double; border-width:0.75pt 0.75pt 0.75pt 1.5pt; padding:1.4pt 4.72pt 1.4pt 4.35pt; vertical-align:middle; -aw-border-bottom:0.38pt single; -aw-border-right:0.38pt single; -aw-border-top:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:0.65pt">주</span>
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:0.65pt; -aw-import:spaces">    </span>
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:0.65pt">소</span>
                </p>
            </td>
            <td colspan="7"
                style="width:335pt; border-style:solid; border-width:0.75pt 1.38pt 0.75pt 0.75pt; padding:1.4pt 4.41pt 1.4pt 4.72pt; vertical-align:middle; -aw-border-bottom:0.38pt single; -aw-border-left:0.38pt single; -aw-border-top:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span th:text="${address}"></span>
                </p>
            </td>
        </tr>
        <tr>
            <!--            고용주 작성-->
            <td colspan="2"
                style="width:57pt; height:40pt; border-style:solid solid solid double; border-width:0.75pt 0.75pt 0.75pt 1.5pt; padding:0.3pt 4.35pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.1pt;">고 용 주</span>
                </p>
            </td>
            <td colspan="3"
                style="width:158.6pt; height:40pt; border-style:solid; border-width:0.75pt; padding:0.3pt 4.72pt; vertical-align:middle;">
                <p class="a" style="text-align:right; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic';">(인 또는 서명)</span>
                </p>
            </td>
            <!--           사업자전화번호 작성-->
            <td colspan="3"
                style="width:48.25pt; height:40pt; border-style:solid; border-width:0.75pt; padding:0.3pt 4.72pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.1pt;">전화</span>
                </p>
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.1pt;">번호</span>
                </p>
            </td>
            <td
                    style="width:107.75pt; height:26pt; border-style:solid; border-width:0.75pt 1.38pt 0.75pt 0.75pt; padding:0.3pt 4.72pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span th:text="${companyPhoneNum}"></span>
                </p>
            </td>
        </tr>
        <tr style="height:67.85pt">
            <!--            취업기간 작성-->
            <td colspan="2"
                style="width:57pt; border-style:solid solid solid double; border-width:0.75pt 0.75pt 0.75pt 1.5pt; padding:1.4pt 4.72pt 1.4pt 4.35pt; vertical-align:middle; -aw-border-bottom:0.38pt single; -aw-border-right:0.38pt single; -aw-border-top:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span style="font-family:'NanumBarunGothic'">취업기간</span>
                </p>
            </td>
            <td colspan="3"
                style="width:158.6pt; border-style:solid; border-width:0.75pt; padding:1.4pt 4.72pt; vertical-align:middle; -aw-border:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span th:text="${period}"></span>
                </p>
            </td>
            <!--            급여 작성-->
            <td colspan="3"
                style="width:48.25pt; border-style:solid; border-width:0.75pt; padding:1.4pt 4.72pt; vertical-align:middle; -aw-border:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:11pt">
                    <span style="font-family:'NanumBarunGothic'">급여</span>
                </p>
                <p class="a" style="text-align:center; line-height:80%; font-size:11pt">
                    <span style="font-family:'NanumBarunGothic'">(시급)</span>
                </p>
            </td>
            <td style="width:107.75pt; border-style:solid; border-width:0.75pt 1.38pt 0.75pt 0.75pt; padding:1.4pt 4.41pt 1.4pt 4.72pt; vertical-align:middle; -aw-border-bottom:0.38pt single; -aw-border-left:0.38pt single; -aw-border-top:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span th:text="${hourlyWage}"></span>
                </p>
            </td>
        </tr>
        <tr style="height:27.5pt">
            <!--            근무시간 작성-->
            <td colspan="2"
                style="width:57pt; border-style:solid solid double double; border-width:0.75pt 0.75pt 1.5pt 1.5pt; padding:1.4pt 4.72pt 1.4pt 4.35pt; vertical-align:middle; -aw-border-right:0.38pt single; -aw-border-top:0.38pt single">
                <p class="a" style="text-align:center; line-height:80%; font-size:12pt">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.2pt">근무시간</span>
                </p>
            </td>
            <td colspan="7"
                style="width:335pt; border-style:solid solid double; border-width:0.75pt 1.38pt 1.5pt 0.75pt; padding:4pt 4.41pt; vertical-align:middle; font-family:'NanumBarunGothic';">

                <table style="width:100%; border:none; border-collapse:collapse;">
                    <td style="vertical-align:top; padding-right:10pt; padding-right:5pt; width: 240px;">
                        <p style="margin: 0; font-size: 11pt;">
                            <span>평일: </span>
                            <span th:text="${weekDayWorkTimes.size() > 0} ? ${weekDayWorkTimes[0]} : ''"></span>
                        </p>
                        <th:block th:each="time, iterStat : ${weekDayWorkTimes}">
                            <th:block th:if="${iterStat.index > 0}">
                                <p style="margin: 0; font-size: 11pt; padding-left: 27pt;">
                                    <span th:text="${time.workingStartTime} + '~' + ${time.workingEndTime} + '('"></span>
                                </p>
                            </th:block>
                        </th:block>
                    </td>

                    <!-- 주말 근무시간 -->
                    <td style="vertical-align: top;">
                        <p style="margin: 0; font-size: 11pt;">
                            <span>토.일요일: </span>
                            <span th:text="${weekEndWorkTimes.size() > 0} ? ${weekEndWorkTimes[0]} : ''"></span>
                        </p>
                        <th:block th:each="time, iterStat : ${weekEndWorkTimes}">
                            <th:block th:if="${iterStat.index > 0}">
                                <p style="margin: 0; font-size: 11pt; padding-left: 50pt;">
                                    <span th:text="${time}"></span>
                                </p>
                            </th:block>
                        </th:block>
                    </td>
                </table>
            </td>

        </tr>
        <tr style="height:120.55pt">
            <td colspan="10"
                style="width:466pt; border-style:double solid; border-width:1.5pt 1.38pt; padding:1.4pt 4.41pt; vertical-align:middle">
                <p class="a" style="margin-left:4.75pt; line-height:115%; font-size:12pt">
                    <span style="line-height:115%; font-family:'HCI Poppy'; font-size:11pt; -aw-import:spaces">  </span>
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.3pt">위 유학생은 본교에 재학하고 있는 학생으로서 현재의 학습 및 연구 상황으로 볼 때,</span>
                    <span style="font-family:'NanumBarunGothic'"> </span>
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.25pt">상기 예정된 시간제취업 활동을 통해서는 학업(또는 연구 활동)에 지장이 없을 것으로</span>
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.1pt"> 판단되므로, 이에 확인합니다.</span>
                </p>
                <!--                날짜 작성-->
                <p class="a" style="margin-left:4.75pt; text-align:center; line-height:115%; font-size:12pt">
                    <span th:text="${date}"></span>
                </p>
                <p class="a" style="margin-left:22.4pt; text-indent:-17.65pt; line-height:115%; font-size:12pt">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.1pt">※ </span>
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.7pt">시간제취업허가 허용시간은 어학연수생은 주당 20시간, 학부과정은 주당 20시간 이내(인증</span>
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.65pt">대학은 25시간), 석박사과정은 주당 30 시간 이내임. </span>
                </p>
            </td>
        </tr>
        <tr style="height:50pt">
            <td colspan="10"
                style="width:466pt; border-style:double solid solid; border-width:1.5pt 1.38pt 1.38pt; padding:1.4pt 4.41pt; vertical-align:middle">
                <p class="a" style="text-align:center; line-height:80%; font-size:13pt">
                    <span style="font-family:'NanumBarunGothic'">◌ ◌ </span>
                    <span style="font-family:'NanumBarunGothic'">출입국관리사무소(출장소)장 귀하</span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="3"
                style="width:73.65pt; height:80pt; border-style:solid double solid solid; border-width:1.38pt 1.5pt 1.38pt 1.38pt; padding:0.3pt 4.35pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1.2; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic'; font-weight:bold; letter-spacing:-0.25pt;">유학생담당자</span>
                </p>
                <p class="a" style="text-align:center; line-height:1.2; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic'; font-weight:bold; letter-spacing:-0.25pt;">확인란</span>
                </p>
            </td>
            <td colspan="2"
                style="width:53.9pt; height:18pt; border-style:solid solid solid double; border-width:1.38pt 0.75pt 0.75pt 1.5pt; padding:0.3pt 4.35pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.8pt;">소속</span>
                </p>
            </td>
            <td style="width:121.85pt; height:18pt; border-style:solid; border-width:1.38pt 0.75pt 0.75pt; padding:0.3pt 4.72pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic';">00 대학</span>
                </p>
            </td>
            <td colspan="2" rowspan="3"
                style="width:31.25pt; height:80pt; border-style:solid; border-width:1.38pt 0.75pt; padding:0.3pt 4.72pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic';">성명</span>
                </p>
            </td>
            <td colspan="4" rowspan="3"
                style="width:144.55pt; height:80pt; border-style:solid; border-width:1.38pt 1.38pt 1.38pt 0.75pt; padding:0.3pt 4.41pt; vertical-align:middle;">
                <p class="a" style="text-align:right; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic';">(인 또는 서명)</span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2"
                style="width:53.9pt; height:35pt; border-style:solid solid solid double; border-width:0.75pt 0.75pt 0.75pt 1.5pt; padding:0.3pt 4.35pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.8pt;">인증대학</span>
                </p>
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.8pt;">여부</span>
                </p>
            </td>
            <td style="width:121.85pt; height:35pt; border-style:solid; border-width:0.75pt; padding:0.3pt 4.72pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic';">해당 □ 비해당 □</span>
                </p>
            </td>
        </tr>

        <tr>
            <td colspan="2"
                style="width:53.9pt; height:35pt; border-style:solid solid solid double; border-width:0.75pt 0.75pt 1.38pt 1.5pt; padding:0.3pt 4.35pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.8pt;">직위</span>
                </p>
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic'; letter-spacing:-0.8pt;">(연락처)</span>
                </p>
            </td>
            <td style="width:121.85pt; height:35pt; border-style:solid; border-width:0.75pt 0.75pt 1.38pt; padding:0.3pt 4.72pt; vertical-align:middle;">
                <p class="a" style="text-align:center; line-height:1; font-size:12pt; margin:0;">
                    <span style="font-family:'NanumBarunGothic';"> </span>
                </p>
            </td>
        </tr>
    </table>
    <p class="a" style="line-height:80%">
        <span style="-aw-import:ignore"> </span>
    </p>
</div>
</body>
</html>